html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CSS HEX
--phthalo-green: #152614ff;
--forest-green-traditional: #1e441eff;
--pakistan-green: #2a7221ff;
--slimy-green: #119822ff;
--lime-green: #31cb00ff; */
