.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #152614;
  height: 60px;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header a {
  color: #152614;
  margin-right: 20px;
}

.header a:hover {
  color: #000;
}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.logo {
  display: flex;
  color: #152614;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Julius Sans One';
}

.logo a {
  color: #152614;
}

.img {
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  height: 40px;
  width: 40px;
}
.nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
}
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
  }

  .header ul {
    margin: 20px 0;
    flex-direction: column;
    text-align: center;
  }

  .header a {
    margin-right: 0;
  }

  .logo {
    margin: 20px 0;
  }
}
