.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.img {
  margin: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}
.info {
}
.makemodel {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}
.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
/* .details {

}
.btn {

} */

.btnDel {
  display: inline-block;
  background: gray;
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}
.btnDel:hover {
  opacity: 0.9;
}
@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
