.event {
  position: relative;
  /* padding-top: 40px; */
}

.gpsflex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.centerButton {
  text-align: center;
  margin: 20px;
}
