.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 13px;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1);
  gap: 15px;
}

.img {
  margin: 10px;
}

.info {
}
.makemodel {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}
.buttons {
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */
}
@media (max-width: 600px) {
  .event {
    flex-direction: column;
    text-align: center;
  }

  .info {
    margin-bottom: 20px;
  }
}
